.generic-tabs-container {
    .table-header {
        display: flex;
        align-items: center;
        padding: 2px;
        position: absolute;
        right: 0px;
        top: -40px;
        .btn {
            margin-right: 3px;
        }
        .custom-actions {
            .tooltip-element {
                cursor: pointer;
                padding: 7px 10px;
                border-radius: 3px;
                background: #4f6070;
                color: white;
                margin: 0px 2px;
                &:hover {
                    background: #4a6a88;
                }
            }
        }
    }
}