@import 'Assets/Global-Shared/theme.scss';

.detail-includes {
    .card-body {
        padding: 6px 8px;
        .nav{
            &.nav-tabs{
                li.nav-item{
                    .nav-link{
                        border-radius: 0px;
                        border: none;
                        &.active{
                            border-bottom: 2px solid #1b62ab;

                        }
                    }
                }
            }
        }
    }
    .table-header {
        display: flex;
        align-items: center;
        padding: 2px;
        position: absolute;
        right: 0px;
        top: -36px;
        .btn {
            margin-right: 3px;
        }
        .custom-actions {
            .tooltip-element {
                cursor: pointer;
                padding: 7px 10px;
                border-radius: 3px;
                // background: #4f6070;
                // color: white;
                margin: 0px 2px;
                // &:hover {
                //     background: #4a6a88;
                // }
            }
        }
    }
}

.drivezy-light-theme { 
    .search-button > button.btn {
        color: $primaryThemeLight;
    }
}

.drivezy-dark-theme { 
    .search-button > button.btn {
        color: $primaryThemeDark;
    }
}

.drivezy-drivezy-theme { 
    .search-button > button.btn {
        color: $primaryThemeDrivezy;
    }
}