.reports-content {
    .dashboard-form {
        margin: 4px;
        .card {
            height: 85px;
            .card-body{
                padding: 4px;
            }
            form {
                height: 45px;
                background-color: #fff;
                .form-elements {
                    display: flex;
                    align-items: center;
                    .picker {
                        display: flex;
                        .form-group {
                            display: flex;
                            flex-direction: column;
                            background-color: #fff;
                            color: #b3b3b3;
                            font-size: 9px;
                            padding-top: 5px;
                            padding-left: 10px;
                            margin-bottom: 0px;
                            border-radius: 2px;
                            .data-point {
                                border-right: 1px solid black;
                                .form-label {
                                    font-weight: bold;
                                    font-weight: bold;
                                    color: #330a0a9c;
                                }
                                input.form-control {
                                    border: none;
                                    border-radius: 0px;
                                    border-bottom: 1px solid #c7c7c7;
                                    padding: 5px 0px;
                                    &:focus {
                                        box-shadow: none;
                                        border-bottom: 1px solid #964d4d66;
                                    }
                                }
                            }
                        }
                    }
                }
                .select-elements {
                    display: flex;
                    padding: 0px 5px;
                    .form-element {
                        padding: 0px 10px;
                        display: flex;
                        flex-direction: column;
                        .select-container {
                            display: flex;
                            .element-container{
                                padding: 0px 4px;
                            }
                        }
                    }
                }
            }
        }
        .modal-actions {}
    }
}