.summary-card {
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    .summary-card-heading {
        font-weight: 700;
        font-size: 18px;
        padding-left: 15px;
        margin-top: 2px;
        padding-bottom: 15px;
    }
    .summary-card-body {
        border-top: 1px solid whitesmoke;
        .row-1 {
            width: 100%;
            margin-left: 0.5px;
            margin-right: 0.5px;
            padding: 12px;
            .class {
                font-family: adminFont;
                font-size: 14px;
                display: flex;
                flex-direction: row;
                flex-basis: 50%;
                margin-left: 2px;
                margin-bottom: 8px;
                .title {
                    flex-basis: 50%;
                    text-align: left;
                    color: #000000;
                }
                .data {
                    flex-basis: 35%;
                    text-align: right;
                    color: #989898;
                }
            }
        }
    }
    .pricing-object {
        .pricing {
            font-weight: 700;
            font-size: 15px;
            padding-left: 15px;
            padding-bottom: 15px;
            margin-top: 2px;

            i.fa{
                padding: 2px;
            }
        }
        .display-button {
            color: #000000;
            background-color: aliceblue;
            margin: 10px;
        }
        .card-body {
            overflow-y: scroll;
            height: 120px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 0px;
            padding-bottom: 0px;
            .card-object {
                font-weight: bold;
                font-size: 13px;
                display: flex;
                flex-direction: column;
                padding-top: 12px;
                padding-bottom: 12px;
                .item {
                    text-align: left;
                    width: 190px;
                    text-transform: capitalize;
                }
                .value {
                    text-align: right;
                }
            }
        }
    }
}