.datepicker {
    .form-control {
        cursor: pointer;
        padding: 0px;
        .react-bootstrap-daterangepicker-container {
            padding: .375rem .75rem;
            min-height: 36px;
            display: block !important;
            .picker {
                display: block;
                width: 100%;
            }
        }
    }
}