.vehicle-detail {
    .detail-card {
        width: 30%;
        background-color:#f1f1f1;
        padding-left: 15px;
        .card-img {
            background-color:#fff;
        }
        .card-body {
            background-color:#fff;
        }
        .gray-border-bottom {
            border-bottom: 1px solid #f0f4f7;
        }
    }
    .tabs-card {
        width: 70%; 
        background-color:#f1f1f1;
        padding-left: 15px;
    }
}