.user-license-card{

    display: flex;
    flex-direction: column;
    padding: 2px;
    margin-bottom: 2px;

    .user-license-photo{

        
        .inline-container {
            // height: 250px;
        }
        img{
            width: 98%;
            margin: 3px;
            border-radius: 2%;
            
            
        }
    }


    .user-license-data{

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 17px;

        .data-field{

            .licence-number-verified{

                    color: #039603;
                    i.fa{
                         margin-right: 7px;
                        }
            }

            .licence-number-not-verified{

                color: red;
                i.fa{
                     margin-right: 7px;
                    }
            }


        }       
    }

    .user-card{
        position: relative;
    }
}