.user-license-card {
    .no-padding {
        padding: 0px;
    }
    .card {
        height: 150px;
        .row {
            height: 150px;
        }
    }
    .user-license-info {
        display: flex;
        flex-direction: row;
        margin-top: 8px;
        padding-left: 20px;
        height: 130px;
        .user-detail-info-card {
            width: 70%;
            display: flex;
            flex-direction: column;
            .user-email, .user-license-validate, .user-promo, .user-cash {
                margin-top: 10px;
                display: flex;
                flex-direction: row;
                .detail-content {
                    flex-basis: 50%;
                }
            }
        }
        .user-photograph {
            width: 30%;
            img {
                width: 50%;
                border: 1px solid #eee;
                width: 150px;
                height: 132px;
            }
        }
    }
}