.user-license-card{

    display: flex;
    flex-direction: column;
    padding: 2px;
    margin-bottom: 2px;

    .user-license-photo{

        
        .inline-container {
            // height: 250px;
        }
        img{
            width: 310.312px;
            height: 240px;
            margin: 3px;
            border-radius: 2%;
            
            
        }

        .accept{
            background-color: #3f3f3f;
            color: #ffffff;
            position: absolute;
            top: 75%;
            left: 20%;
            
            text-align: center;
            font-size: 14px;
        }

        .reject{
            background-color: #3f3f3f;
            color: #ffffff;
            position: absolute;
            top: 75%;
            left: 67%;
            
            text-align: center;
            font-size: 14px;
        }

        .delete{
            background-color: #3f3f3f;
            color: #ffffff;
            position: absolute;
            top: 75%;
            left: 82%;
            
            text-align: center;
            font-size: 14px;
        }
    }


    .user-license-data{

        display: flex;
        flex-direction: row;
        justify-content: left;
        font-size: 17px;

        .data-field{
            padding-left: 3px;
            margin-left: 13px;
            .licence-number-verified{


                    color: #039603;
                    i.fa{
                         margin-right: 7px;
                        }
            }

            .licence-number-not-verified{

                color: red;
                i.fa{
                     margin-right: 7px;
                    }
            }


        }       
    }

    .user-card{
        position: relative;
    }
}