.data{
    display: flex;
    justify-content: space-between;
    .less{
        width: 300px;
        overflow: hidden;
    }
    .more{
        width: 300px;
        overflow-x: hidden;
        white-space: initial;
    }
    a{
        color: #368db9 !important;
    }
}

.parsedHTML{
    padding: 30px;
}

.html{
    width: 95%;
    margin: 0 auto;
}

a{
    color: #368db9 !important;
}