.form-generator {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    .toolbox {
        margin-top: 4px;
        .toolbox-contents {
            display: flex;
            flex-direction: column;
            .config {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}