@import 'Assets/Global-Shared/theme.scss';

.modal-header {
    border-bottom: none;
    padding: 15px 30px;
    color: #1b242ec7;
    @include themify($themes){
        background: themed('secondaryDark');
        color: themed('secondaryLight');
    }
    .modal-title{
        letter-spacing: 3px;
        input{
            margin: 0 30px;
            border: none;
            border-bottom: 2px solid #fff;
            background: none;
            color: #ffff;
        }
    }
    .close{
        @include themify($themes){
            color: themed('secondaryLight');
        }
    }
}

.modal-body {
    background: white;
}

.form-creator {
    .layoutSelect{
    .select-box{
        position: absolute;
        z-index: 10;
        width: 17%;
        left: 70%;
        top: 1%;
    }}
    .form-settings {
        position: absolute;
        right: 45px;
        top: 5px;
    } // background: black;
    .card {
        border: none;
        .card-body {
            background-color: #e6e6e6;
            // padding: 0px 15px;
            .form-row{
                background-color: #fff;
                border-radius: 3px;
                margin-bottom: 15px;
                padding: 10px;
            }
        }
    }
    .form-group {
        padding: 0px 40px 0px 40px;
        label {
            font-weight: bold;
            font-weight: bold;
            font-size: 12px;
            color: #000;
        }
        input.form-control {
            font-size: .8rem;
            border: none;
            border-radius: 3px;
            border: 1px solid #c7c7c7;
            padding: 7px 10px;
            color: #000000;
            &:focus {
                box-shadow: none;
                border-bottom: 1px solid #964d4d66;
            }
            &::placeholder{
                color: #757575;
            }
        }
    }
    .modal-actions {
        button {
            margin: 0 5px;
        }
    }
    .file-uploads {
        display: flex;
        flex-wrap: wrap;
        .thumbnail {
            position: relative;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 5px 14px;
            background: #f3f3f3;
            margin: 4px;
            .delete-icon {
                cursor: pointer;
                position: absolute;
                top: 10px;
                right: 10px;
                background: white;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                justify-content: center;
                display: flex;
                align-items: center;
                color: #824747;
                &:hover {
                    background: #969696;
                    color: white;
                }
            }
        }
    }
}