.booking {
    background: whitesmoke;
    .booking-detail {
        display: flex;
        .booking-user-detail, .booking-feedback-detail {
            flex-basis: 50%;
        }
    }
    
    .booking-ride {
        display: flex;
        .booking-pre-ride-detail, .booking-ride-return-detail {
            flex-basis: 50%;
        }
    }
    .booking-tabs {
        display: flex;
        .booking-tabs-detail {
            flex-basis: 100%;
        }
    }   
}