.booking-user {
    margin: 5px;
    .booking-panels{
        display: flex;
        // margin: 4px;
        margin: 5px 0px;
        .no-padding {
            padding: 0px;
        }
        .booking-panel-container{
            margin: 2px;
            flex-basis: 50%;
            border-top: 4px solid #67bd61;
            padding: 4px 19px;
            .panel-body {
                .precheck-status {
                    display: flex;
                    margin-top: 4px;
                    justify-content: space-between;
                    .self-checkin {
                    }
                    .pre-check {
                    }
                    .user-validation {
                        margin-top: 10px;
                    }
                }
            }
            .booking-details {
                .booking-status {
                    float: right;
                }
                .gray-border-bottom {
                    border-bottom: 1px solid #f0f4f7;
                }
                padding-top: 0px;
                height: 350px;
                .portlet-title {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 0px;
                    margin-bottom: 0px;
                    min-height: 40px;
                }
                .car-details {
                    p {
                        margin: 0px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .trip-panel-container{
            margin: 2px;
            flex-basis: 50%;
            border-top: 4px solid orange;
            padding: 4px 19px;
            .panel-body {
                .precheck-status {
                    display: flex;
                    margin-top: 4px;
                    justify-content: space-between;
                    .self-checkin {
                    }
                    .pre-check {
                    }
                    .user-validation {
                        margin-top: 10px;
                    }
                }
            }
            .trip-details {
                padding-top: 0px;
                height: 350px;
                .portlet-title {
                    border-bottom: 0px;
                    margin-bottom: 0px;
                    min-height: 40px;
                }
                .start-end {
                    p {
                        margin: 0px;
                        margin-bottom: 5px;
                    }
                }
                .fuel-percentage {
                    margin-top: 10px;
                    margin-bottom: -10px;
                }
            }
        }
    }
}