
.booking-panel-container{
    padding-left: 15px;
    padding-right: 15px;
    .booking-details{
        .heading{
            font-size: 18px;  
        }
    }
    .panel-body {
        .precheck-status {
            display: flex;
            margin-top: 4px;
            justify-content: space-between;
            
            .user-validation {
                margin-top: 10px;
            }
        }
    }
    .booking-details {
        display: flex;
        flex-direction: column;
        .heading{
            width: 100%;
            .booking-status-verified{
                float: right;
            }
            .booking-status-cancelled {
                width: 100%;
                
                border-top: 3px solid #cc0000;
                padding-top: 15px;
                color: #cc0000;
                margin: 0px;
            }

            .booking-status-active {
                width: 100%;
                padding-top: 15px;
                border-top: 3px solid #1eb10480;
                color: #1b6e14;
                margin: 0px;
            }

            .booking-status-complete {
                width: 100%;
                padding-top: 15px;
                border-top: 3px solid #d37a06;
                color: #d37a06;
                margin: 0px;
            }

            .booking-status-pending {
                width: 100%;
                padding-top: 15px;
                border-top: 3px solid #11a2ce;
                color: #11a2ce;
                margin: 0px;
            }

            .booking-status-unverified {
                width: 100%;
                padding-top: 15px;
                border-top: 3px solid rgb(7, 6, 6);
                color: rgb(7, 6, 6);
                margin: 0px;
            }
         }

        .booked-vehicle-data{
            padding: 0;
            .vehicle-info-number{
                float: left;
            }
            .vehicle-info-name{
                display: flex;
            }
            .vehicle-info{
                    margin: 0;
                    border-top: 2px solid rgba(255, 255, 255, 0.795);
                    border-bottom: 2px solid rgba(255, 255, 255, 0.795);
                    .vehicle-photo{
                        float: left;
                        width: 100%;
                        height: auto;
                    }
                    .vehicle-info-data{
                        padding-top: 18px;
                        font-size: 15px;
                        margin-bottom: 0.5 rem;
                        .billing-car-name, .fuel-type, .ride-type{
                            font-size: 95%;
                            font-weight: bolder;
                        }
                    }
                    .coupon-data{
                        //font-family: sans-serif;
                        font-size: 15px;
                        font-weight: 400;
                        vertical-align: middle;
                        flex-basis: 100%;
                        color: #212529;
                        padding-top: 18px;
                        float: right;

                    }

                }

                .booking-detail-date{
                    font-family: sans-serif;
                    font-size: 15px;
                    padding: 15px;

                    .jr-time-icon{
                        i.fa{
                            color: #5c5c5c;
                        }
                    }
                
                    }
                }
            }

        }
    
