.table-body {
    display: flex;
    flex-direction: row;
    .table-content {
        width: 0px;
        flex-basis: 99%;
    }
    .table-actions {
        flex-basis: 1%;
        float: right;
    }
}