.select-box{
    min-width: 120px;
    // .Select-menu-outer, .my-select-top, .Select-menu-outer {
    //     top: auto;
    //     bottom: 100%;
    //   }

      .Select-menu-outer {
        top: auto;
        bottom: 100%;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-right-radius: unset;
        border-bottom-left-radius: unset;
      }
    // .Select-menu-outer { top: auto; bottom: 100%; }
}
