@import 'Assets/Global-Shared/theme.scss';

.page-nav {
    position: relative;
    margin-top: 5px;
    right: 21px;
    .btn-group {
        box-shadow: none;
        border: none;
        .btn {
            padding: 0px;
            border: none;
            box-shadow: none;
            background: transparent;
        }
    }
    .user-profile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border: 1px solid #3b4c5d;
        border-radius: 50%;
        overflow: hidden;
        &.nil {
            border: 1px solid #f1f1f1;
            border-radius: 50%;
            background: #f9f9f9;
            color: #848484;
        }
        .profile-image {
            color: #717171;
            padding: 3px;
            width: 32px;
            height: 32px;
            transition: all 200ms;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-clip: padding-box;
        }
    }
    .dropdown-menu {
        padding: 0px; // left: -108px !important;
        .user-wrapper {
            font-size: 13px;
            padding: 8px 16px;
            color: #183247;
            text-decoration: none;
            display: block;
            clear: both;
            line-height: 18px;
            -webkit-font-smoothing: antialiased;
            white-space: nowrap;
            background: #f9f9f9;
            .user-details {
                border-bottom: 1px solid #efefef;
                background: whitesmoke;
                .display-name {
                    padding: 0px 10px;
                    font-weight: 500;
                }
                .email {
                    font-size: 12px;
                    color: #944310;
                    padding: 0px 10px;
                    .fa {
                        margin: 0px 3px;
                        color: #456263;
                    }
                }
            }
            &:hover {}
        }
        .dropdown-item {
            font-size: 14px;
            cursor: pointer;
            padding: 8px 16px;
            color: #183247;
            text-decoration: none;
            display: block;
            clear: both;
            line-height: 18px;
            -webkit-font-smoothing: antialiased;
            white-space: nowrap;
            &:hover {
                background-color: #e1e6ea;
            }
            .fa {
                width: 20px;
            }
        }
        &.header-menu-list {
            margin-top: 5px;
            box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.16) !important;
            border: 1px solid #d6d6d6 !important;
            right: 2px;
            position: absolute;
            border-top: none;
            border-top-left-radius: 0px;
            li {
                background: white;
                list-style: none;
                a {
                    padding: 8px 16px;
                    color: #183247;
                    text-decoration: none;
                    display: block;
                    clear: both;
                    line-height: 18px;
                    -webkit-font-smoothing: antialiased;
                    white-space: nowrap;
                    &:hover {
                        background-color: #e1e6ea;
                    }
                    .fa {
                        width: 20px;
                    }
                }
                &.user-details {
                    border-bottom: 1px solid #efefef;
                    line-height: 30px;
                    background: whitesmoke;
                    .display-name {
                        padding: 0px 10px;
                        font-weight: 500;
                    }
                    .email {
                        color: #944310;
                        padding: 0px 10px;
                        .fa {
                            color: #456263;
                        }
                    }
                    a:hover {
                        background: #f9f9f9;
                        .fa {
                            color: #597db7;
                        }
                    }
                }
            }
        }
    }

    .theme-selection-container {
        padding: 3px 15px;

        .theme-box  { 
            height: 30px;
            width: 30px;
            background: red;
            border-radius: 10px;
            border: 1px solid rgba(0,0,0,.4);
            margin: 0 5px;
        }
        .light-theme { 
            background: $primaryColorLight;
        }

        .dark-theme { 
            background: $primaryColorDark;
        }
    }
}