@import 'Assets/Global-Shared/theme.scss';
.landing-header {
    display: flex;
    min-height: 45px;
    height: 45px;
    border-bottom: 1px solid;
    @include themify($themes) {
        background: themed('headerBackground');
        border-color: themed('headerBorder');
    }
    .header-content {
        margin: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 100%;
    }
}