.landing-header {
    display: flex;
    background: white;
    min-height: 45px;
    height: 45px;
    border-bottom: 1px solid #d4d4d4;
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 100%;
    }
}