.booking-feedback-card {
    margin-left: 2px;
    font-family: adminFont;
    font-size: 14px;



    .card {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        max-height: 309px;
        min-height: 309px;
        justify-content: space-between;

        overflow-y: scroll;



        .feedback-heading {
            font-size: 18px;
            font-weight: 700;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 15px;
            font-family: adminFont;
        }


        display: flex;
        flex-direction: column;

       .feedback-data{
                .row {

                    width: 100%;
                    height: 100%;
                    margin-left: 0.5px;
                    margin-right: 0.5px;
                    margin-bottom: 1px;
                    border-top: 1px solid whitesmoke;
                    padding-bottom: 12px;
                 
                
                    height: 150px;

                    display: flex;
                    flex-direction: row;
                    .user{    
                        width: 50%;
                        padding-right: 0px;

                    .user-feedback-info {
                        margin-top: 10px;
                    
                        .user-feedback {
                        
                            font-size: 12px;
                            .user-stars {
                                color: #f4d03f;
                            }

                            .user-feedback-time{
                                border-bottom: 1px solid #ece8e8;
                                padding-bottom: 6px;
                            }

                            .user-feedback-comment{
                                width: 108px;
                                max-height: 60px;
                                overflow-y: scroll;
                                padding-top: 6px;
                            }
                        }
                        .user-hollow-stars{
                            width: auto;
                            height: auto;
                            // i.fa
                            //     {color: #f4d03f};

                            }
                        }   
                    }

                    .feedback{        
                        
                    .feedback-rating {

                        
                        padding-top: 2px;
                        padding-bottom: 2px;
                    
                        .feedback-rate-name {
                            font-size: 10px;
                        }
                        .feedback-rate-value {
                            float: right;
                            font-size: 10px;
                        }

                        .feedback-rate-bar {
                            height: 3px;
                        }
                    }
                }


        
            }  
            
            
            .row{
                
                width: 100%;
                height: 100%;

                .fleet{    
                    flex-basis: 35%;
                .fleet-feedback-info {
                        
                        float: left;
                        position: relative;
                        margin-top: 10px;
                        
                        .fleet-feedback {

                            font-size: 12px;
                            .fleet-stars {
                                color: #f4d03f;
                            }

                            .fleet-feedback-time{
                                border-bottom: 1px solid #ece8e8;
                                padding-bottom: 6px;
                            }

                            .fleet-feedback-comment{
                                padding-top: 6px;
                            }
                        }

                        .fleet-hollow-stars{
                            width: auto;
                            height: auto;
                            // i.fa
                            //     {color: #f4d03f};

                        }
                    }
                }
            }
        }
    }
}