.form-group{
    .name{
        color: #000000a3; 

        .text-red{
            color: red;
        }

    
    }
    
    .detected-items{

        color: #6f6f6f;

        .item{
            color: blue;
        }
    }
    
}