.glyphicon-icon {
    height: 0px;
    width: 0px;
    border: none;
    opacity: .7;
    border-top: 25px solid #f0f0f0;
    border-left: 25px solid rgba(66, 31, 31, 0);
    border-right: 25px solid rgba(0, 0, 0, 0);
    font-size: 50px;
}

// .glyphicon-chevron-left {
//     @extend .glyphicon-icon;
//     transform: rotate(90deg);
// }

// .glyphicon-chevron-right {
//     @extend .glyphicon-icon;
//     transform: rotate(270deg);
// }

.glyphicon-chevron-up {
    @extend .glyphicon-icon;
    transform: rotate(180deg);
}

.glyphicon-chevron-down {
    @extend .glyphicon-icon;
    // transform: rotate(20deg);
}