.login-form {
    background: url(https://s3.ap-south-1.amazonaws.com/drivezy.com-assets/drivezy-city-bg.png) bottom no-repeat; // background-image: url(/assets/images/loginbackground.png) !important;
    background-size: contain !important;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    .Logo{
        text-align: center;
        line-height: 50px;
    }
    .Name{
        margin: 29px 0 20px 0;
        font-size: 192%;
        color: #868686;
    }
    .card {
        box-shadow:  0px 0px 1px rgb(141, 140, 140);
        width: 400px;
        height: 500px;
        label{
            margin: 2px;
        }
        img{
            width: 50px;
        }
        form{
            margin: 0 0 25px 0;
        }
        input{
            font-size:90%;
            padding: 8px;
        }
        .row a{
            color: #497897;
            font-size: 90%;
        }
        .copyright {
            color: #525252;
            text-align: center;
            font-size: 10px;
        }
        .card-body {
            margin: 20px;
            button {
                margin: 25px 0 0 0;
            }
        }
    }
    
}