.user-details{
    .header-actions{
        display: flex;
        justify-content: flex-end;
        padding: 2px 5px;
    }
.display{
    display: flex;
    flex-direction: row;
    .user-detail{
        width: 30%;
        display: flex;
        .user-card-data {
            flex-basis:99%;
        }
        .user-license-data {
            height: 60%;
        }
    }
    .tab-wrapper{
            height: 60%;  
        }
    }
.tab-wrapper{
        width: 100%;
        overflow-x: scroll;
        height: 40%;
    }
}
}