.display{
    display: flex;
    flex-direction: row;

    .user-detail{
        width: 30%;
        // max-width: 1203 px;
        display: flex;
        //flex-direction: column-reverse;
        
        .user-card-data {

            flex-basis:99%;
                      
        
        }

        

        .user-license-data {

            height: 60%;
            
            
        }

        

    }
    

    .tab-wrapper{
        width: 100%;
       // margin-left:2px;
        overflow-x: scroll;
        height: 40%;
        // margin-right: 5px;
    }
}