
.modal-body {
    background: whitesmoke;
    .form-settings {
        position: absolute; // top: -5%;
        top: -45px;
        // right: 5%;
        right: 60px;
    }
}

.modal-backdrop{
    opacity:0; transition:opacity .2s;
  }
  .modal-backdrop.in{
    opacity:.7;
  }
