.reset {
    .modal-reset-pricing {
        padding: 15px;
        .billing-option {
            margin: 9px;
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            font-weight: 700 !important;
        }
    }
    .btns {
        text-align: right;
        padding: 10px;
    }
}