.body{
    .clientScript{
        background-color: #fff;
        padding: 50px 0;
    }
    padding: 30px;
    .form-row{
    justify-content: center;
    .form-group{
        width: 90%;
        justify-content: space-between;
        display: flex;
        .inputField{
            width: 40%;
            display: flex;
            align-items: center;
        }
        label{
            float: left;
            min-width: 85px;
            display: flex;
        }
        .descriptionInput{
            width: 100%;
        }
        .col .inline{
            padding: 0;
        }
    }
    }
    .actions{
        width: 96%;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 20px;
    }
.description{
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #ced4db;
}
}

input[type=checkbox]{
    width: 15px;
}