
    .trip-panel-container {
        flex-basis: 70%;
        margin: 2px;
        border-top: 3px solid #6a6b173d;
        padding-left: 15px ;
        padding-right: 15px;
        .panel-body {
            .precheck-status {
                display: flex;
                margin-top: 4px;
                justify-content: space-between;
                .self-checkin {}
                .pre-check {}
                .user-validation {
                    margin-top: 10px;
                }
            }
        }
        .trip-details {
            padding-top: 0px; //height: 350px;
            .booking-status-verified{
                float: right;
            }
            .booking-status-cancelled {
                width: 100%;
                
                border-top: 3px solid #cc0000;
                padding-top: 15px;
                color: #cc0000;
                margin: 0px;
            }

            .booking-status-active {
                width: 100%;
                padding-top: 15px;
                border-top: 3px solid #1eb10480;
                color: #1b6e14;
                margin: 0px;
            }

            .booking-status-complete {
                width: 100%;
                padding-top: 15px;
                border-top: 3px solid #d37a06;
                color: #d37a06;
                margin: 0px;
            }

            .booking-status-pending {
                width: 100%;
                padding-top: 15px;
                border-top: 3px solid #11a2ce;
                color: #11a2ce;
                margin: 0px;
            }

            .booking-status-unverified {
                width: 100%;
                padding-top: 15px;
                border-top: 3px solid rgb(7, 6, 6);
                color: rgb(7, 6, 6);
                margin: 0px;
            }
            .card-body {
                padding: 15px;
                .data-cancellation {
                    font-size: 15px;
                    .data-cancellation-row {
                        padding: 4px;
                        .data-cacellation-col {}
                    }
                }
            }
            .trip-card-heading {
                font-size: 18px;
                font-weight: 700;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 15px;
            }
            .portlet-title {
                border-bottom: 0px;
                margin-bottom: 0px;
                min-height: 40px;
            }
            .trip-data {
                //border-bottom: 1px solid #f0f4f7;
                .jr-time-icon {
                    font-family: sans-serif;
                    font-size: 15px;
                    i.fa {
                        color: #5c5c5c;
                    }
                }
            }
            .total-odo {
                margin-top: 1px;
            }
            .handover-user {
                margin-top: 10px;
                i.fa {
                    color: #5c5c5c;
                    padding-right: 3px;
                }
            }
            .unvarified-trip-panel {
                margin-top: 110px;
                text-align: center;
                color: grey;
            }
            .total-odo-info {
                margin-top: 25px;
            }
            .ride-end-detail {
                text-align: right;
                font-family: sans-serif;
                font-size: 15px;
                font-weight: 400;
            }
            .trip-detail-info {
                // margin-bottom: 0.5rem;
                font-family: sans-serif;
                font-size: 15px;
                font-weight: 400;
            }
            .fuel-progress-bar {
                margin-top: 5px;
                font-family: sans-serif;
                .progress {
                    height: 10px;
                    margin-bottom: 6px;
                    font-size: 14px;
                }
                .fuel-value-indicator {
                    font-size: 10px;
                    text-align: center;
                    color: #8f9192;
                }
            }
            .start-end {
                p {
                    margin: 0px;
                    margin-bottom: 5px;
                }
            }
            .fuel-percentage {
                margin-top: 10px;
                margin-bottom: -10px;
            }
            .ride-return-text {
                text-align: center;
                margin-top: -5px; //border-top: 1px solid #f0f4f7;
                .button {
                    padding: -0.625rem .75rem;
                }
                .amount-info-text {
                    margin-top: 5px;
                }
            }
            .cancellation-details {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                .cancelled-type {}
            }
            .confirm-trip-info {
                padding: 101px 0px 35px 210px;
                text-align: center;
                color: gray;
            }
        }
    }
    .summary-detail-card {
        flex-basis: 30%;
    }
