@import 'Assets/Global-Shared/theme.scss';
.header-actions {
    .custom-actions {
        .button-element {
            text-transform: capitalize;
            padding: 5px 8px;
            .action-label {
                padding-left: 10px;
            }
        }
        .tooltip-element:first-child{
            margin-left: 5px;
        }
        .tooltip-element {
            cursor: pointer;
            padding: 6px 2px;
            border-radius: 2px;
            @include themify($themes) {
                background: themed('primaryLight');
                color: themed('onPrimaryDark') ;// border-color: themed('settingsButton');
                border: 1px solid;
                border-color: themed('borderLight');
            }
            // border-radius: 3px;
            // background: white;
             margin: 0px;
            // border: 1px solid #e0e0e0;
            // border: 1px solid #b7b7b7;
            &:hover {
                // background: #e4e4e4;
                // border: 1px solid #bbb9b9;
                border-bottom: 1px solid #bbb9b9;

            }
        }
    }
}

.custom-actions {
    .tooltip-element {
        margin: 0px 4px;
    }
    button.btn {
        // background: #475a6b;
        color: white;
    }
    .dropdown{
        .dropdown-button{
            &:hover{
                color: #fff;
            }
        }
        .dropdown-menu {
            min-width: 140px !important;
        }
    .dropdown-menu.menu-operations{
        background: #fff;
        .menu-item {
        display: flex;
        .menu-link{
            font-size: 17px !important;
            padding: 4px 10px !important;
            span.badge{
            color: #000;
            opacity: 1;
            }
            }
        }
        }
    }
}



.drivezy-light-theme {
    .custom-actions {
        color: $primaryThemeLight;
    }
}

.drivezy-dark-theme {
    .custom-actions {
        color: $primaryThemeDark;
    }
}

.drivezy-drivezy-theme {
    .custom-actions {
        color: $primaryThemeDrivezy;
    }
}