@import 'Assets/Global-Shared/theme.scss';
.listing-search-container {
    .listing-search-tool {
        display: flex;
        .listing-select-tool {
            width: 245px;
            .selectbox {
                width: 150px;
            }
        }
        .listing-input-tool {
            width: 245px;
            margin-left: 10px;
            .input-select {
                height: 36px;
                font-size: 12px;
                @include themify($themes) {
                    background: themed('secondaryLight');
                }
            }
        }
    }
}