.listing-search-container {
    .listing-search-tool {
        display: flex;
        .listing-select-tool {
            width: 310px;
            .selectbox {
                width: 150px;
            }
        }
        .listing-input-tool {
            width: 300px;
            margin-left: 2px;
            .input-select {
                height: 36px;
                font-size: 12px;
                background-color: #ffffd9;
            }
        }
    }
}