.generic-detail-container {
    margin: 8px;
    .header {
        display: flex;
        justify-content: space-between;
        .left {}
        .right {
            display: flex;
            align-items: flex-end;
        }
    }
    .detail-entry {
        padding: 4px 0px;
    }
    .tabs-container {
        padding: 4px 0px;
    }
    .nav-item { 
        cursor: pointer;
    }
}