@import 'Assets/Global-Shared/theme.scss';
.generic-detail-container {
        .header {
        display: flex;
        justify-content: space-between;
        background: #dcdcdc7a;
        height: 40px;
        padding: 0px 4px;
        border-bottom: 1px solid #ccc9c9;
        .left {}
        .right {
            margin-right: 15px;
            display: flex;
            align-items: center;
            @include themify($themes){
                color: themed('secondaryColor');
            }
          
            // .table-settings {
            //     .btn {
            //         padding: 1px 5px;
            //         margin: 0px 5px;
            //     }
            // }
        }
    }
}
    .detail-content {
        margin: 8px;
    }
    .detail-entry {
        padding: 4px 0px;
    }
    .nav-item {
        cursor: pointer;
    }

