.generic-detail-container {
        display: flex;
        justify-content: space-between;
        //background: #dcdcdc7a;
        height: 40px;
        padding: 0px 4px;
        border-bottom: 1px solid #ccc9c9;
        .left {}
        .right {
            display: flex;
            align-items: center;
          
            .table-settings {
                .btn {
                    padding: 5px 9px;
                    margin: 0px 5px;
                }
            }
        }
    }
    .detail-content {
        margin: 8px;
    }
    .detail-entry {
        padding: 4px 0px;
    }
    .nav-item {
        cursor: pointer;
    }
}