.column-setting {
    &.active {
        .column-label {
            background-color: #dff0d8;
            color: #105d26;
            .item-label {
                &:hover {
                    background-color: #dff0d8;
                }
            }
        }
    }
    .column-label {
        cursor: pointer;
        align-items: center;
        border: 1px solid whitesmoke;
        height: 40px;
        background: white;
        display: flex;
        justify-content: space-between;
        .item-label {
            flex-basis: 90%;
            height: 40px;
            padding: 10px 15px;
            &:hover {
                background: whitesmoke;
            }
        }
        .column-toggle {
            height: 40px;
            flex-basis: 15%;
            color: #528dad;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background: whitesmoke;
            }
        }
    }
}