@import 'Assets/Global-Shared/theme.scss';
body {
    width: 100%; // font-size: 14px;
}

.card {
    border-radius: 2px;
}

.drivezy-page-container {
    padding: 20px 20px;
    margin-top: 5%; // background: red;
}

.block {
    display: block;
}

.relative {
    position: relative;
}

.flex {
    display: table;
    /* IE < 10, Opera *Presto* Desktop (Now dead) */
    display: -webkit-box;
    /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UCBrowser Android */
    display: -moz-box;
    /* Firefox 2 - 27 (2009 Spec), UCMini Android */
    display: -ms-flexbox;
    /* IE10 (2012 Syntax) */
    display: -webkit-flex;
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    @extend .flex;
    flex-direction: column;
}

.flex-row {
    @extend .flex;
    flex-direction: row;
}

.center-flex {
    @extend .flex;
    justify-content: center;
}

.vertical-center {
    @extend .flex;
    align-items: center;
}

.safari-vertical-center {
    display: -webkit-box;
    -webkit-box-align: center; // -webkit-box-pack: center; /* justify-content */
}

.vertical-end {
    @extend .flex;
    align-items: flex-end;
}

.space-between {
    @extend .flex;
    justify-content: space-between;
}

.space-around {
    @extend .flex;
    justify-content: space-around;
}

.right-flex {
    @extend .flex;
    justify-content: flex-end;
}

.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.width-80 {
    width: 80%;
}

.width-70 {
    width: 70%;
}

.width-60 {
    width: 60%;
}

.width-50 {
    width: 50%;
}

.width-40 {
    width: 40%;
}

.text-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

.text-black {
    color: black;
}

.font-12 {
    font-size: 12px;
}

.opacity-10 {
    opacity: 1;
}

.opacity-9 {
    opacity: .9;
}

.opacity-8 {
    opacity: .8;
}

.opacity-7 {
    opacity: .7;
}

.opacity-6 {
    opacity: .6;
}

.opacity-0 {
    opacity: 0;
}

.margin-top-3 {
    margin-top: 3%;
}

.margin-top-5 {
    margin-top: 5%;
}

.margin-top-10 {
    margin-top: 10%;
}

.no-padding-strict {
    padding: 0 !important;
}

.padding-10 {
    padding: 10px;
}

.padding-top-0 {
    padding-top: 0;
}

.padding-top-5 {
    padding-top: 5%;
}

.padding-left-10 {
    padding-left: 10px;
}

.or-divider {
    text-align: center;
    opacity: .8;
    position: relative;
    &:after {
        content: '';
        height: 1px;
        width: 41%;
        position: absolute;
        top: 50%;
        background: rgba(0, 0, 0, .3);
        right: 2%;
    }
    &:before {
        content: '';
        height: 1px;
        width: 41%;
        position: absolute;
        top: 50%;
        background: rgba(0, 0, 0, .3);
        left: 2%;
    }
}

.heading {
    font-weight: 700;
    font-size: 16px;
}

.sub-description {
    font-size: 12px;
}

.divider {
    position: relative;
    width: 100%;
    padding: 20px 0;
    &:before {
        content: '';
        border: 1px solid rgba(0, 0, 0, .3);
        width: 100%;
        position: absolute;
        left: 0;
    }
}

.text-transform-none {
    text-transform: none;
}

.light-subheader-text {
    color: rgba(0, 0, 0, .7);
}

.CalendarDay {
    outline: none !important;
}

.global-loader {
    // position: fixed;
    // height: 100%;
    // width: 100vw;
    // background: rgba(0, 0, 0, .4); // color: #fea658;
    // font-size: 0px;
    text-align: center;
    top: 0; // @extend .flex-column;
    .drivezy-loader-gif {
        width: 250px;
    }
    svg {
        width: 75px;
        height: 50px;
        margin: 0px;
        display: inline-block;
    }
}

/** 
Non critical css goes here
*/

.margin-top-8 {
    margin-top: 8px;
}

.dropdown-button {
    border: 1px solid #dadfe3;
    @include themify($themes) {
        // border: themed('primaryBorder');
        // background-color: themed('themePrimaryColor');
        // color: themed('secondaryDark');
    }
    cursor: pointer;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    transition: .1s ease-in;
    padding: 5px 10px;
    text-align: center;
    box-shadow: none !important;
    &:hover {
        background: #dadfe3;
        border: 1px solid #dadfe3;
        @include themify($themes) {
            color: themed('secondaryDark');
        }
    }
}

.modal-xl {
    width: 92%;
    max-width: 92%;
}

.Select-menu-outer {
    // for select box to appear on top
    z-index: 1066;
}

.btn-xs {
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.no-data-to-show {
    text-align: center;
    padding: 30px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

// Nav Styling
.nav-tabs {
    .nav-link {
        border: none;
        background: none;
        cursor: pointer;
        &.active {
            background: none;
            border-bottom: 1px solid red;
        }
    }
}


.btn-secondary {
    @include themify($themes) {
        // border-color: themed('themeBorder');
        background: themed('primaryDark') !important;
        color: themed('primarylight');
        border-color: themed('primaryDark');
    }
}

.btn-primary {
    @include themify($themes) {
        // border-color: themed('themeBorder');
        background: themed('infoColor') !important;
        color: themed('primarylight');
        border-color: themed('infoColor');
    }
}

th {
    @include themify($themes) {
        color: themed('table');
        background: themed('defaultThemeDark');
    }
}

.dropdown-button {
    @include themify($themes) {
        // border: themed('primaryBorder');
        // background: themed('primaryThemeDark') !important;
        // color: themed('whiteColor');
    }
}

.dropdown-menu.menu-operations {
    @include themify($themes) {
        background: themed('bodyBackground');
        border: themed('dropdownBorder'); // color: themed('secondaryColor');
    }
}

.fa-times {
    @include themify($themes) {
        color: themed('sideBarIcons');
    }
}

.form-control {
    @include themify($themes) {
        // background-color: themed('dropdownInputBackground');
    }
}

.listing-search-container .listing-search-tool .listing-input-tool .input-select {
    @include themify($themes) {
        background-color: themed('searchBackground');
        border: themed('searchBorder');
    }
}

.detail-portlet {
    @include themify($themes) {
        color: themed('whiteColor');
    }
}

.generic-detail-container .header {
    @include themify($themes) {
        // background-color: themed('sideBackground');
    }
}