$font-family: 'Montserrat',
'Roboto',
sans-serif;
// $theme-red: rgba(250, 65, 65, 1);
$theme-red: #FF5A5F;
$theme-gray: rgb(223, 184, 184);

$background-lightgray: #eff3f5;

$font-lightgray: #737c93;