$font-family: 'Montserrat',
'Roboto',
sans-serif;
// $theme-red: rgba(250, 65, 65, 1);
$theme-red: #FF5A5F;
$theme-gray: rgb(223, 184, 184);

$background-lightgray: #eff3f5;

$font-lightgray: #737c93;




$primaryThemeLight: #0277bd;  
$primaryLightThemeLight: #58a5f0;
$primaryBackgroundThemeLight: #c4d0db;
$primaryBackgroundHoverThemeLight: #dae2e9;
$primaryDarkThemeLight: #004c8c;
$secondaryThemeLight: #303f9f;
$secondaryLightThemeLight: #666ad1;
$secondaryDarkThemeLight: #001970;
$backgroundThemeLight: #eeeeee;
$surfaceThemeLight: #ffffff;
$errorThemeLight: #e53935;

$onSurfaceThemeLight: #000000;
$onBackgroundThemeLight: #000000;
$onPrimaryLightThemeLight: #000000;
$onSecondaryLightThemeLight: #000000;
$onSecondayDarkThemeLight: #000000;

$onSecondaryThemeLight: #ffffff;
$onPrimaryThemeLight: #ffffff;
$onPrimaryDarkThemeLight: #ffffff;
$onErrorThemeLight: #ffffff;



$primaryThemeDrivezy: #f25d61;  
$primaryLightThemeDrivezy: #ff8f8e;
$primaryDarkThemeDrivezy: #ba2737;
$primaryBackgroundThemeDrivezy: rgb(212, 219, 226);
$primaryBackgroundHoverThemeDrivezy: #e2e7ee;
$secondaryThemeDrivezy: #41b6a6;
$secondaryLightThemeDrivezy: #78e9d7;
$secondaryDarkThemeDrivezy: #008677;
$backgroundThemeDrivezy: #eeeeee;
$surfaceThemeDrivezy: #ffffff;
$errorThemeDrivezy: #e53935;

$onSurfaceThemeDrivezy: #000000;
$onBackgroundThemeDrivezy: #000000;
$onPrimaryLightThemeDrivezy: #000000;
$onSecondaryLightThemeDrivezy: #000000;
$onSecondayDarkThemeDrivezy: #000000;

$onSecondaryThemeDrivezy: #ffffff;
$onPrimaryThemeDrivezy: #ffffff;
$onPrimaryDarkThemeDrivezy: #ffffff;
$onErrorThemeDrivezy: #ffffff;



$primaryThemeDark:#646667;
// $primaryThemeDark:#727070;
// $primaryThemeDark: #669351;  
$primaryLightThemeDark: #607387;
$primaryBackgroundThemeDark: rgb(212, 219, 226);
$primaryBackgroundHoverThemeDark: #e2e7ee;
$primaryDarkThemeDark: #0b2131;
$secondaryThemeDark: #5ac924;
$secondaryLightThemeDark: #666ad1;
$secondaryDarkThemeDark: #001970;
$backgroundThemeDark: #eeeeee;
$surfaceThemeDark: #ffffff;
$errorThemeDark: #e53935;

$onSurfaceThemeDark: #000000;
$onBackgroundThemeDark: #000000;
$onPrimaryLightThemeDark: #000000;
$onSecondaryLightThemeDark: #000000;
$onSecondayDarkThemeDark: #000000;

$onSecondaryThemeDark: #ffffff;
$onPrimaryThemeDark: #ffffff;
$onPrimaryDarkThemeDark: #ffffff;
$onErrorThemeDark: #ffffff;