// Themes
$themes: ( 
    light: (
            primaryColor:red,             
            secondaryColor: #6a9a0b,
            themePrimaryColor: #fff,
            grayshade: #ccc,
            // Body
            bodyBackground:white,
            navLinkColor:#464545,
            sideBarIcons: #6f6f6f,
            // Body Ends

            /**

            Sidenav Styling

            **/
            sidenavBorder:white,
            sideTableBackground: #f5f5f5,
            sidebarBorder:#e0dfdf,
            /**

            SideNav Styling Ends

            **/
            navHeader:white,

            searchBorder: 1px solid #d8d8d8,
            textSecondary:#000000,
            sideBackground:white,


            /**

            Header Styling

            **/
            headerBackground: white,
            // headerBorder: #d8d8d8,
            headerBorder:#e0dfdf,
            /**

            Header Styling Ends

            **/


            // Card Background
            cardBackground: #e8e9e8,
            detailBackgroundCard:#eceeef,
            searchBackground: #f5f5f5,
            //Buttons Styling
            // Default Button
            defaultThemeDark: #E96957,
            whiteColor: #ffffff,
            // Secondary Button
            // themeBorder: 0 0 1px 0 solid #000,
            themeBorder:#000000,
            secondaryThemeDark: #6a9a0b,
            // Primary Button
            primaryBorder: 1px solid #e96857,
            primaryThemeDark:#e96857,
            // Dropdown Styling
            dropdownBorder:1px solid #000,
            dropdownInputBackground:#d1d1d1,
            //menu
            detailsBackground:#eceeef,
            // Sidbar Styling
            // sideBackground:#f5f5f5,
            logoBottomBorder:#e9e7e7,
            lightColorText:#D34031,
            // actionBarBorder: 1px solid #d8d8d8,
            actionBarBorder: none,

            // Sidebar Styling Ends
            // Panel
            menuBorderPanel: 0px 0px 1px 1px #d8d8d8,
            borderBottom: 0px,
            // Sub Header
            subHeader:#f8f8f8,
            subHeaderBorder:#fdfdfd,
            // Sub Header Ends

            /**

            Table Styling

            **/
            tableDataBorder: 1px solid #f5f5f5,
            tableBackground: #ffffff,
            tableHeadBorder: 1px solid #f5f5f5,
            columnTitle:#928d8d,
            sortLink:brown,
            tableData:#4a4b58,
            tooltipText: #ffffff,
            tableRowBorder:#eae8e8,
            filterLink:#6d98c7,
            /**

            Table Styling Ends

            **/
            
            // Menu Table Styling
            menuTableBackground:#f5f5f5,
            menuBorder: 0px,
            menuBorderRadius:0px,
            // Ends
            buttonBorder: 2px solid #fff,
            expandMenuHeader: #f5f5f5,
            //
            hintText: #D34031,
            hoverColor: #c5e5ff,
            linkHover: #3b82d6,
            subMenuHeader: #ecebec,
            subMenuHover: #ffffff,
            linkColor: #137DAE,
            menuLinkBorder: 0,
            arrowHeader: #000000,
            filterText:#000000,
            cardMargin : 18px,
        ),
        dark: (
            secondaryColor: #fff,
            darkColor: #000,
            // Body
            bodyBackground:#2f2f2f,
            navLinkColor:#cccaca,
            // Body Ends
            // Side Table Styling
            sideTableBackground: #292929,
            searchBorder: 1px solid #292929,
            lightText:#a4b2b8,
            // Card Background
            cardBackground: #5b5c5d,
            detailBackgroundCard:#293140,
            searchBackground: #585858,
            textSecondary:#efefef,
            tooltipText: #ffffff,
            //Buttons Styling
                // Default Button
            defaultThemeDark: #2b3b46,
            whiteColor: #ffffff,
            actionBarBorder: 1px solid #ececec,
                // Secondary Button
            themeBorder: 0px,
            secondaryThemeDark: #E73E7E,
                // Primary Button
            primaryBorder: 1px solid #3d3d3a,
            primaryThemeDark:#3d3d3a,
            // Dropdown Styling
            dropdownBorder:1px solid #000,
            dropdownInputBackground:#424242,
            //menu
            detailsBackground:#1f2938,
            // Sidbar Styling
            sideBackground:#11181d,
            sidebarBorder:#020202,
            navHeader:#1C252B,
            logoBottomBorder:#e9e7e7,
            lightColor:#fffccd,
            // Sidebar Styling Ends
            // Panel
            menuBorderPanel: 0px 0px 1px 1px #000000,
            borderBottom: 0px,
            // Sub Header
            subHeader:#232323,
            // Sub Header Ends
            // Table Styling
            tableDataBorder: 1px solid #000,
            tableBackground: #2e2e2e,
            columnTitle:#9e9d9a,
            sortLink:#F15590,
            // Table Styling Ends
            // Menu Table Styling
            menuTableBackground:#1e2838,
            menuBorder:1px solid #000,
            menuBorderRadius:5px,
            // Ends
            buttonBorder: 2px solid #fff,
            expandMenuHeader: #12181f,
            hintText: #D34031,
            hoverColor: #e9e8e8,
            linkHover: #000000,
            subMenuHeader: #000000,
            subMenuHover: #DBDBDB,
            linkColor: #fffccd,
            menuLinkBorder: 0,
            arrowHeader: #fff,
            filterText:#000000,
            cardMargin : 18px,
            ),
            // darkTheme:(
            //     dark:'#232323'
            // )
            drivezy: (
                // Body
                bodyBackground:#ebeef0,
                // Body Ends
                // Sidbar Styling
                sideBackground:#35485b,
                sidebarBorder:#bfbfbf,
                logoBackground:#303e4c,
                logoBottomBorder:#e9e7e7,
                menuIcon:#a4b2b8,
                menuIconHover:white,
                menuHover:#2c3e4e,
                // Sidebar Styling Ends 
                // Header Styling
                headerBackground:white,
                headerBorder:#c1c1c1,
                darkColor:#e0dcdc,
                // Header Ends
                // Sub Header
                subHeader:#f1f0f0,
                subHeaderBorder:#d4d4d4,
                // Sub Header Ends
        
                // Table Styling
                tableHeader:#f8f9fa,
                tableHeaderBorder:#ececec,
                columnTitle:#3b6877,
                dropdownLink:#b1493ce8,
                // Table Styling Ends
                backgroundColor: #fff,
                textColor: #408bbd,
                buttonTextColor: #408bbd,
                buttonTextTransform: none,
                buttonTextHoverColor: #61b0e7,
                buttonColor: #fff,
                buttonBorder: 2px solid #fff,
                cardMargin : 18px,
                ),
);
// Themes Ends
// Themify Begins
@mixin themify($themes: $themes) {
    @each $theme,
    $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key,
            $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

// Themify Ends
// Themed Function
@function themed($key) {
    @return map-get($theme-map, $key);
}

// Themed Ends
$font-family: 'Montserrat',
'Roboto',
sans-serif;
// $theme-red: rgba(250, 65, 65, 1);
$theme-red: #FF5A5F;
$theme-gray: rgb(223, 184, 184);
$background-lightgray: #eff3f5;
$font-lightgray: #737c93;
$primaryThemeLight: #0277bd;
$primaryLightThemeLight: #58a5f0;
$primaryBackgroundThemeLight: #c4d0db;
$primaryBackgroundHoverThemeLight: #dae2e9;
$primaryDarkThemeLight: #004c8c;
$secondaryThemeLight: #303f9f;
$secondaryLightThemeLight: #666ad1;
$secondaryDarkThemeLight: #001970;
$backgroundThemeLight: #eeeeee;
$surfaceThemeLight: #ffffff;
$errorThemeLight: #e53935;
$onSurfaceThemeLight: #000000;
$onBackgroundThemeLight: #000000;
$onPrimaryLightThemeLight: #000000;
$onSecondaryLightThemeLight: #000000;
$onSecondayDarkThemeLight: #000000;
$onSecondaryThemeLight: #ffffff;
$onPrimaryThemeLight: #ffffff;
$onPrimaryDarkThemeLight: #ffffff;
$onErrorThemeLight: #ffffff;
$primaryThemeDrivezy: #f25d61;
$primaryLightThemeDrivezy: #ff8f8e;
$primaryDarkThemeDrivezy: #ba2737;
$primaryBackgroundThemeDrivezy: rgb(212, 219, 226);
$primaryBackgroundHoverThemeDrivezy: #e2e7ee;
$secondaryThemeDrivezy: #41b6a6;
$secondaryLightThemeDrivezy: #78e9d7;
$secondaryDarkThemeDrivezy: #008677;
$backgroundThemeDrivezy: #eeeeee;
$surfaceThemeDrivezy: #ffffff;
$errorThemeDrivezy: #e53935;
$onSurfaceThemeDrivezy: #000000;
$onBackgroundThemeDrivezy: #000000;
$onPrimaryLightThemeDrivezy: #000000;
$onSecondaryLightThemeDrivezy: #000000;
$onSecondayDarkThemeDrivezy: #000000;
$onSecondaryThemeDrivezy: #ffffff;
$onPrimaryThemeDrivezy: #ffffff;
$onPrimaryDarkThemeDrivezy: #ffffff;
$onErrorThemeDrivezy: #ffffff;
$primaryThemeDark:#646667;
// $primaryThemeDark:#727070;
// $primaryThemeDark: #669351;  
$primaryLightThemeDark: #607387;
$onPrimaryLightThemeDark:#0a1f2d;
$primaryBackgroundThemeDark: rgb(212, 219, 226);
$primaryBackgroundHoverThemeDark: #e2e7ee;
$primaryDarkThemeDark: #0b2131;
// $secondaryThemeDark: #5ac924;
$secondaryThemeDark:#711818;
$secondaryLightThemeDark: #666ad1;
// $secondaryDarkThemeDark: #001970;
$secondaryDarkThemeDark:#646667;
$backgroundThemeDark: #eeeeee;
$surfaceThemeDark: #ffffff;
$errorThemeDark: #e53935;
$onSurfaceThemeDark: #000000;
$onBackgroundThemeDark: #000000;
$onPrimaryLightThemeDark: #000000;
$onSecondaryLightThemeDark: #000000;
$onSecondayDarkThemeDark: #000000;
$onSecondaryThemeDark: #ffffff;
$onPrimaryThemeDark: #ffffff;
$onPrimaryDarkThemeDark: #ffffff;
$onErrorThemeDark: #ffffff;
// 
// 
// 
// Drivezy Dark Theme Colours
$primaryDark:#032134;
// Drivezy Dark Theme Ends

// Dark Theme Button Colors

