@import 'Assets/Global-Shared/theme.scss';
.listing-pagination {
    padding: 10px;
    display: flex;
    justify-content:space-between;
    // .highlighted-page { 
    //     a { 
    //         background: #2f4d69 !important;
    //         color: white;
    //     }
    // }
    .pagination-record {
        margin-top: 10px;
    }
    .page-redirect-number {
        width: 80px;
        margin-left: 25px;
    }
}

/** Theme specific css */
.drivezy-light-theme { 
    .listing-pagination {
        .highlighted-page > a  { 
            background: $primaryThemeLight !important;
            color: $onPrimaryThemeLight;
        }
    }
}

    .listing-pagination {
        @include themify($themes) {
            background: themed('bodyBackground');
        }
        .highlighted-page > a { 
            background: $primaryThemeDark !important;
            color: $onPrimaryThemeDark;
        }
        .pagination-record{
            @include themify($themes) {
                color:themed('secondaryColor');
            }
        }
    }

.drivezy-drivezy-theme { 
    .listing-pagination {
        .highlighted-page > a { 
            background: $primaryThemeDrivezy !important;
            color: $onPrimaryThemeDrivezy;
        }
    }
}