@import 'Assets/Global-Shared/theme.scss';
.listing-pagination {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .pagination-record {
        margin-top: 10px;
    }
    .page-redirect-number {
        margin-left: 25px;
        .select-box {
            min-width: 100px;
        }
    }
    @include themify($themes) {
        background: themed('bodyBackground');
    }
    .page-item>a {
        height: 100%;
        border-color: #cccccc;
    }
    .next-page-go>a {
        border-bottom-right-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
    .highlighted-page>a {
        background: $primaryThemeDark !important;
        color: $onPrimaryThemeDark;
    }
    .pagination-record {
        @include themify($themes) {
            // color:themed('secondaryColor');
        }
    }
}

.listing-pagination {}

.drivezy-drivezy-theme {
    .listing-pagination {
        .page-item>a {
            height: 38px;
        }
        .highlighted-page>a {
            background: $primaryThemeDrivezy !important;
            color: $onPrimaryThemeDrivezy;
        }
    }
}