@import 'Assets/Global-Shared/theme.scss';
.sidebar-wrapper {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; // background: #35485a;
    overflow-x: hidden;
    transition: 0.1s;
    display: flex;
    flex-direction: column;
    // border-right: 1px solid;
    // @include themify($themes) {
    //     background: themed('sideBackground');
    //     border-color: themed('sidenavBorder');
    //     color: themed('navLinkColor');
    // }
    @include themify($themes) {
        background: themed('secondaryDark');
    }
    &.collapsed {
        width: 40px;
        .logo-container{
            display: none;
        }
        .sidebar-menus {
            .menus {
                // margin-top: 8px;
                padding: 0px;
                .menu-item {
                    .menu-label {
                        border-radius: 0px;
                        padding: 8px 12px;
                    }
                }
            }
        }
    }
    &.expanded {
        width: 180px;
    }
    .sidebar-logo {
        .logo-image {
            height: 45px;
            display: flex;
            overflow: hidden;
            justify-content: space-between;
            border-bottom: 1px solid;
            @include themify($themes) {
                background: themed('primaryDark');
                border-color: themed('primaryDark');
                color: themed('onPrimaryDark');
            }
            span.logo-container {
                padding: 5px 20px;
                cursor: pointer;
                transition: all 50ms ease-in-out;
                img {
                    width: 100%;
                }
            }
            span.toggle-icon {
                cursor: pointer;
                padding: 2px;
                i.fa {
                    font-size: 16px;
                    padding: 10px; // color: #5c7084;
                }
                &:hover {}
            }
        }
        .sidebar-toggle {}
    }
    .sidebar-menus {
        display: flex;
        flex-direction: column;
        height: 100vh;
        border-right: 1px solid;
        @include themify($themes){
            border-color: themed('secondaryDark')
        }
        .menus {
            // background: #35485b;
            @include themify($themes){
                background: themed('secondaryDark');
            }
            padding: 8px 10px;
            .menu-item {
                .menu-label {
                    display: flex;
                    padding: 8px 10px;
                    -webkit-font-smoothing: antialiased;
                    transition: all 50ms linear; // color: #A4B2B8;
                    cursor: pointer;
                    flex-grow: 1;
                    font-size: 14px;
                    height: 40px;
                    border-radius: 2px;
                    @include themify($themes) {
                        color: themed('onSecondaryDark');
                        border-radius: themed('themeBorder');
                    }
                    .menu-icon {
                        width: 30px;
                        display: inline-block;
                    }
                    .item-label {
                        padding-left: 5px;
                        white-space: nowrap;
                        line-height: 25px;
                        opacity: 1;
                        transition: all 50ms ease-in-out;
                        display: inline-block;
                    }
                    &:hover {
                        @include themify($themes) {
                            // border-radius: themed('menuLinkBorder');
                            background: themed('hoverBackground');
                            color: themed('secondaryColor'); // border-left: themed('sideBorder');
                            // border-right: 1px solid themed('linkHover');
                        }
                    }
                }
            }
        }
    }
}

.sidenav a {
    padding: 16px 8px 8px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.05s;
}

.menu-icon {
    font-size: 15px;
    padding-right: 5px;
}

.sidenav a:hover {
    color: red !important; // color: #f1f1f1;
}

.menu-name {
    // transform: all .2s;
    // -webkit-animation: mymove .1s infinite; /* Safari 4.0 - 8.0 */
}

.menu-visible {
    .menu-name {
        animation: visible .1s forwards alternate;
    }
}

.menu-hide {
    .menu-name {
        animation: hide .4s forwards;
    }
}

@keyframes visible {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    70% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 25px;
    margin-left: 50px;
}

#main {
    transition: margin-left .1s; // padding: 16px;
}