

.sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.05s;
}

.menu-icon {
    font-size: 15px;
    padding-right: 5px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.menu-name { 
    // transform: all .2s;
    // -webkit-animation: mymove .1s infinite; /* Safari 4.0 - 8.0 */
    
}
.menu-visible { 
    .menu-name { 
        animation: visible .1s forwards alternate;
    }
}

.menu-hide { 
    .menu-name { 
        animation: hide .4s forwards;
    }
}

@keyframes visible {
    0% { opacity: 0;}
    20% { opacity: 0;}
    70% { opacity: .5;}
    100% { opacity: 1;}
}

@keyframes hide {
    0% { opacity: 1;}
    20% { opacity: 1;}
    50% { opacity: .5;}
    80% { opacity: 0;}
    100% { opacity: 0;}
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .1s;
    // padding: 16px;
}

