@import 'Assets/Global-Shared/theme.scss';

.table-container {
    .table-body {
        display: flex;
        .table-content {
            // transition: all 1s ease-in;
            overflow-x: scroll;
            .table {
                thead {
                    border-top: none;
                    border-bottom: 1px solid #2c3e55 !important;
                    // background-color: #f8f9fa !important;
                    @supports (-webkit-appearance: none) {
                        tr {
                            position: relative;
                        }
                    }
                    tr {
                        // position: relative;
                        /** Style for Column Header **/
                        th {
                            border-bottom: 1px solid #ebeef0; // border-bottom: 1px solid #ddd;
                            // color: #6f7c87;
                            display: table-cell;
                            padding: 12px;
                            border: 1px solid #ececec;
                            border-left: none;
                            &.header-index {
                                .select-box {
                                    display: none;
                                }
                                &:hover {
                                    .table-count {
                                        display: none;
                                    }
                                    .select-box {
                                        display: inline-block;
                                    }
                                }
                            }
                            a {
                                color: inherit;
                            }
                            &.column-header {
                                cursor: pointer; // border-bottom: 1px solid #ddd; // border-bottom: none;
                                white-space: nowrap;
                                .column-wrapper {
                                    align-items: center;
                                    display: flex;
                                    .column-title {
                                        // color: #6f7c87;
                                        margin-right: 10px;
                                        -ms-flex-preferred-size: 80%;
                                        flex-grow: 1;
                                        font-weight: 100;
                                        font-size: 13px;
                                    }
                                    .db-level-sort {
                                        cursor: pointer;
                                        flex-basis: 5%;
                                        .dropdown {}
                                        a.dropdown-link {
                                            text-decoration: none;
                                            color: #b1493ce8;
                                            opacity: 0.8;
                                        }
                                    }
                                    .filter-column {
                                        cursor: pointer;
                                        margin: 0px 4px;
                                        flex-basis: 5%;
                                        a {
                                            opacity: 0.8;
                                        }
                                    }
                                }
                                &:hover {
                                    // .column-title {
                                    //     color: #66a5cc;
                                    // }
                                    .filter-column {
                                        a {
                                            // color: #66a5cc;
                                            opacity: 1;
                                        }
                                    }
                                    .db-level-sort {
                                        a.dropdown-link {
                                            opacity: 1;
                                        }
                                    }
                                }
                                &.table-option-selectable {
                                    position: relative;
                                    &:after {
                                        content: '';
                                        position: absolute;
                                        right: 0px;
                                        bottom: 0px;
                                        height: 5px;
                                        width: 5px;
                                        /* background: #e0e0e0; */
                                        transform: rotate(1deg);
                                        width: 0;
                                        height: 0;
                                        border-bottom: 5px solid #f1c9c9;
                                        border-left: 5px solid transparent;
                                    }
                                }
                            }
                        }
                    }
                }
                tbody {
                    @supports (-webkit-appearance: none) {
                        tr.table-row {
                            position: relative;
                        }
                    }
                    tr.table-row {
                        transition: .2s ease; // position: relative;
                        td {
                            border-bottom: 1px solid #ebeef0;
                            border: 1px solid #ececec;
                            border-left: none;
                            color: #183247;
                            padding: 15px 20px;
                            white-space: nowrap;
                            &.row-key {
                                padding: 15px 10px;
                            }
                            a {
                                // color: #1e739e;
                                font-size: 13px;
                                text-decoration: none;
                                transition: all 200ms linear;
                                // &:hover {
                                //     color: #2ea3de;
                                // }
                            }
                            &.table-index {
                                padding-left: 12px;
                                .index {
                                    color: gray;
                                    visibility: visible;
                                }
                                .table-count {
                                    // color: gray;
                                    // display: block;
                                }
                                .select-box {
                                    // display: none;
                                    visibility: hidden;
                                    &.select-box-active {
                                        visibility: visible;
                                    }
                                }
                            }
                            &:hover {
                                .table-count {
                                    display: none;
                                }
                                .select-box {
                                    visibility: visible;
                                }
                            }
                        }
                        // &:nth-child(even) {
                        //     background: #f1f1f16b;
                        // }
                        // &:hover {
                        //     background-color: #f3f5f7;
                        // }
                    }
                }
            }
        }
        .table-actions {
            position: absolute;
            right: 0px;
            table.table {
                thead {
                    tr {
                        th {
                            &.action-header {
                                background: white;
                                text-align: right;
                                border-left: 1px solid #ebeef0;
                                color: #35485a;
                            }
                        }
                    }
                }
            }
            td {
                &.action-column {
                    border-top: 1px solid #ebeef073;
                    border-left: 1px solid #ebeef0;
                    background: white; // right: 0px;
                    // padding: 14px;
                    padding: 15px 20px;
                    border-bottom: 1px solid #ececec;
                    i.fa {
                        margin: 0px 4px; // font-size: 20px;
                        cursor: pointer;
                        // color: #4f6273;
                    }
                }
            }
        }
    } // Table Ends
}


/** Theme specific css */
.drivezy-light-theme { 
    .table-container { 
        .table-body { 
            thead {
                background-color: $backgroundThemeLight;
                th{ 
                    color: $primaryThemeLight !important;
                    .column-wrapper {
                        .column-title {
                            color: $primaryThemeLight !important;
                        }
                        &:hover {
                            .filter-column>a, .column-title {
                                color: $primaryDarkThemeLight !important;
                            }
                        }
                    }
                }
            }
            tr.table-row {
                td {
                    a {
                        color: $secondaryThemeLight;
                        &:hover {
                            color: $secondaryDarkThemeLight;
                        }
                    }
                }
                &:nth-child(even) {
                    background: $primaryBackgroundThemeLight;
                }
                &:nth-child(odd) {
                    background: $surfaceThemeLight;
                }
                &:hover {
                    background-color: $primaryBackgroundHoverThemeLight;
                }
            }
        }
    }

    .table-actions { 
        i.fa {
            color: $secondaryThemeLight;
        }
    }
}

.drivezy-dark-theme { 
    .table-container { 
        .table-body { 
            thead {
                background-color: $backgroundThemeDark !important;
                th{ 
                    color: $primaryThemeDark;
                    .column-wrapper {
                        .column-title {
                            color: $primaryThemeDark !important;
                        }
                        &:hover {
                            .filter-column>a, .column-title {
                                color: $primaryLightThemeDark !important;
                            }
                        }
                    }
                }
            }
            tr.table-row {
                td {
                    a {
                        color: $secondaryThemeDark;
                        &:hover {
                            color: $secondaryDarkThemeDark;
                        }
                    }
                }
                &:nth-child(even) {
                    background: $primaryBackgroundThemeDark;
                }
                &:nth-child(odd) {
                    background: $surfaceThemeDark;
                }
                &:hover {
                    background-color: $primaryBackgroundHoverThemeDark;
                }
            }
        }
    }

    .table-actions { 
        i.fa {
            color: $secondaryThemeDark;
        }
    }
}

.drivezy-drivezy-theme { 
    .table-container { 
        .table-body { 
            thead {
                background-color: $backgroundThemeDrivezy;
                th{ 
                    color: $primaryThemeDrivezy !important;
                    .column-wrapper {
                        .column-title {
                            color: $primaryThemeDrivezy !important;
                        }
                        &:hover {
                            .filter-column>a, .column-title {
                                color: $primaryDarkThemeDrivezy !important;
                            }
                        }
                    }
                }
            }
            tr.table-row {
                td {
                    a {
                        color: $secondaryThemeDrivezy;
                        &:hover {
                            color: $secondaryDarkThemeDrivezy;
                        }
                    }
                }
                &:nth-child(even) {
                    background: $primaryBackgroundThemeDrivezy;
                }
                &:nth-child(odd) {
                    background: $surfaceThemeDrivezy;
                }
                &:hover {
                    background-color: $primaryBackgroundHoverThemeDrivezy;
                }
            }
        }
    }

    .table-actions { 
        i.fa {
            color: $secondaryThemeDrivezy;
        }
    }
}