@import 'Assets/Global-Shared/theme.scss';
.table-container {
    .table-body {
        display: flex;
        .table-content {
            // transition: all 1s ease-in;
            overflow-x: scroll;
            .table {
                margin-bottom: 0px;
                thead {
                    border-top: none;
                    @supports (-webkit-appearance: none) {
                        tr {
                            position: relative;
                        }
                    }
                    tr {
                        // position: relative;
                        /** Style for Column Header **/
                        th {
                            // color: #6f7c87;
                            display: table-cell;
                            padding: 12px;
                            border: 1px solid;
                            @include themify($themes) {
                                border-color: themed('darkColor');
                                background: themed('tableBackground');
                                border: themed('tableHeadBorder')
                            }
                            &.header-index {
                                .select-box {
                                    display: none;
                                }
                                &:hover {
                                    .table-count {
                                        display: none;
                                    }
                                    .select-box {
                                        display: inline-block;
                                    }
                                }
                            }
                            a {
                                color: inherit;
                            }
                            &.column-header {
                                cursor: pointer; // border-bottom: 1px solid #ddd; // border-bottom: none;
                                white-space: nowrap;
                                .column-wrapper {
                                    align-items: center;
                                    display: flex;
                                    .column-title {
                                        // color: #6f7c87;
                                        margin-right: 10px;
                                        -ms-flex-preferred-size: 80%;
                                        flex-grow: 1;
                                        font-weight: 100;
                                        font-size: 13px;
                                        @include themify($themes) {
                                            color: themed('columnTitle');
                                        }
                                    }
                                    .db-level-sort {
                                        cursor: pointer;
                                        flex-basis: 5%;
                                        .dropdown {}
                                        a.dropdown-link {
                                            text-decoration: none;
                                            opacity: 0.8;
                                            @include themify($themes) {
                                                color: themed('sortLink');
                                            }
                                        }
                                    }
                                    .filter-column {
                                        cursor: pointer;
                                        margin: 0px 4px;
                                        flex-basis: 5%;
                                        a {
                                            opacity: 0.8;
                                        }
                                    }
                                }
                                &:hover {
                                    // .column-title {
                                    //     color: #66a5cc;
                                    // }
                                    .filter-column {
                                        a {
                                            // color: #66a5cc;
                                            opacity: 1;
                                        }
                                    }
                                    .db-level-sort {
                                        a.dropdown-link {
                                            opacity: 1;
                                        }
                                    }
                                }
                                &.table-option-selectable {
                                    position: relative;
                                    &:after {
                                        content: '';
                                        position: absolute;
                                        right: 0px;
                                        bottom: 0px;
                                        height: 5px;
                                        width: 5px;
                                        /* background: #e0e0e0; */
                                        transform: rotate(1deg);
                                        width: 0;
                                        height: 0;
                                        border-bottom: 5px solid #f1c9c9;
                                        border-left: 5px solid transparent;
                                    }
                                }
                            }
                        }
                    }
                }
                tbody {
                    @supports (-webkit-appearance: none) {
                        tr.table-row {
                            position: relative;
                        }
                    }

                    @include themify($themes){
                        background-color: themed('tableBackground');
                    }

                    tr.table-row {
                        transition: .2s ease; // position: relative;
                        td {
                            border-bottom: 1px solid #ebeef0;
                            border: 1px solid #ececec;
                            @include themify($themes){
                                border: themed('tableDataBorder'); 
                            }
                            border-left: none;
                            color: #183247; // padding: 15px 20px;
                            white-space: nowrap;
                            &.row-key {
                                // padding: 15px 10px;
                            }
                            @include themify($themes){
                                color: themed('textSecondary');    
                            }

                            a {
                                @include themify($themes){
                                    color: themed('linkColor');    
                                }
                                // color: #1e739e;
                                font-size: 13px;
                                text-decoration: none;
                                transition: all 200ms linear; // &:hover {
                                //     color: #2ea3de;
                                // }
                            }
                            &.table-index {
                                padding-left: 12px;
                                .index {
                                    color: gray;
                                    visibility: visible;
                                }
                                .table-count {
                                    // color: gray;
                                    // display: block;
                                }
                                .select-box {
                                    // display: none;
                                    visibility: hidden;
                                    &.select-box-active {
                                        visibility: visible;
                                    }
                                }
                            }
                            &:hover {
                                .table-count {
                                    display: none;
                                }
                                .select-box {
                                    visibility: visible;
                                }
                            }
                        } // &:nth-child(even) {
                        //     background: #f1f1f16b;
                        // }
                        // &:hover {
                        //     background-color: #f3f5f7;
                        // }
                    }
                }
            }
        }
        .table-actions {
            position: absolute;
            right: 0px;
            table.table {
                thead {
                    tr {
                        th {
                            &.action-header {
                                border: 1px solid #a4b2b8;
                                @include themify($themes){
                                    background: themed('sideTableBackground');
                                    color: themed('sideBarIcons');
                                    border: themed('actionBarBorder');
                                }
                                text-align: right;
                                //border-left: 1px solid #ebeef0;
                                color: #35485a;
                            }
                        }
                    }
                }
            }
            td {
                &.action-column {
                    border-top: 1px solid #ebeef073;
                    border-left: 1px solid #ebeef0;
                    @include themify($themes){
                        background: themed('sideTableBackground');
                        color: themed('sideBarIcons');
                        border: themed('actionBarBorder');
                    }
                    background: white; // right: 0px;
                    // padding: 14px;
                    padding: 15px 20px;
                    
                    i.fa {
                        margin: 0px 4px; // font-size: 20px;
                        cursor: pointer; // color: #4f6273;
                    }
                }
            }
        }
    } // Table Ends
}

.compact {
    .table-container {
        .table-content {
            .table {
                thead {
                    tr {
                        th {
                            padding: 6px 10px;
                        }
                    }
                }
                tr.table-row {
                    td {
                        padding: 6px 10px;
                    }
                }
            }
        }
        .table-actions {
            thead {
                tr {
                    th.action-header {
                        padding: 6px 10px;
                    }
                }
            }
            tr.table-row {
                td.action-column {
                    padding: 6px 10px;
                }
            }
        }
    }
}

.medium {
    .table-container {
        .table-content {
            .table {
                thead {
                    tr {
                        th {
                            padding: 8px;
                        }
                    }
                }
                tr.table-row {
                    td {
                        padding: 10px 8px;
                    }
                }
            }
        }
        .table-actions {
            thead {
                tr {
                    th.action-header {
                        padding: 8px;
                    }
                }
            }
            tr.table-row {
                td.action-column {
                    padding: 10px 8px;
                }
            }
        }
    }
}

.large {
    .table-container {
        .table-content {
            .table {
                thead {
                    tr {
                        th {
                            padding: 12px;
                        }
                    }
                }
                tr.table-row {
                    td {
                        padding: 15px 20px;
                    }
                }
            }
        }
        .table-actions {
            thead {
                tr {
                    th.action-header {
                        padding: 12px;
                    }
                }
            }
            tr.table-row {
                td.action-column {
                    padding: 15px 20px;
                    background-color: #000;
                }
            }
        }
    }
}