// import 'bootstrap/dist/css/bootstrap.min.css';
// @import '~/node_modules/bootstrap/scss/_mixins.scss';

.user-card{

    display: flex;
    flex-direction: column;

    // @include list-group;
    // @include list-group;
    

    .details{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: justify;
        
        .text-field{
            flex-basis: left;
            color:  #3a3a3a;
            width: 49%;
            display: table-cell;
            i.fa{
                margin-right: 4px;
            }
        }

         .data-field{

         color: #8a8a8a;
         width: 70%;
         text-align: right;
         display: table-cell;
        }
    }
   

    .user-photo{
        img{
            width: 41%;
            margin: 12px;
            float: right;
            height: auto;
            border: 1px solid #98765a;
            border-radius: 17%;
            padding: 1px;
        }
    }
}