.user-card {
    .no-padding {
        padding: 0px;
    }
    .card {
        height: 150px;
        .row {
            height: 150px;
        }
    }
    .user-info {
        display: flex;
        margin-top: 8px;
        padding-left: 20px;
        height: 130px;
        .user-image {
            padding-right: 10px;
            display: table-cell;
            vertical-align: top;
        }
        .user-object {
            border: 1px solid #eee;
            width: 130px;
            height: 130px;
        }
        .user-body {
            padding-left: 20px;
            .user-list {
                font-size: 15px;
                p {
                    margin-top: 4px;
                    margin-bottom: 4px;
                    i {
                        padding-right: 15px;
                    }
                    .name-colour {
                        color: #337ab7;
                    }
                }
            }
            .user-feedback {
                .ratings-colour {
                    color: #f4d03f;
                    font-size: 15px;
                }
                p {
                    margin-top: 4px;
                    margin-bottom: 4px;
                    i {
                        padding-right: 15px;
                    }
                }
            }
        }
    }
}