@font-face {
    font-family: adminFont;
    src: url('../src/Assets/fonts/noway-regular-webfont.woff');
}

@import 'Assets/Global-Shared/theme.scss';
// import '/node_modules/bootstrap/dist/css/bootstrap.min.css'
// import 'bootstrap/dist/css/bootstrap.min.css';
body {
    font-family: adminFont;
    font-size: 13px;
    overflow-x: hidden;
    @include themify($themes) {
        background: themed('bodyBackground');
    }
}

body {
    margin: 0px;
    .app-container {
        height: 100%;
        .page-container {
            display: flex;
            height: 100vh;
        }
    }
}

.form-control {
    &:focus {
        box-shadow: none; // border: none;
    }
}

// Modal Styling
.modal {
    .modal-dialog {
        .modal-content {
            .modal-header {
                padding: 8px 20px;
            }
            .modal-body {
                padding-top: 5px;
                background: whitesmoke;
            }
            .modal-footer {
                .btn {
                    margin: 0px 4px;
                }
            }
        }
    }
}

.modal-content {
    border: none;
}

button:focus {
    outline: none;
}

* {
    outline: none;
}