.table-settings {
    .modal-body {
        background: whitesmoke;
        display: flex;
        justify-content: space-between;
        .card-body {
            padding: 0px;
            h5.card-title {
                padding: 10px 15px;
                background: aliceblue;
                color: #395167;
            }
            .list-group.parent-group{
                padding: 10px 15px;
            }
        }
        .left {
            max-height: 70vh;
            overflow-y: scroll;
            flex-basis: 40%;
            .column-group {
                &:hover {
                    background: whitesmoke;
                }
                &.active {
                    .column-label {
                        background: #b3e5fc;
                    }
                }
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #c4c4c4;
                .column-label {
                    cursor: pointer;
                    align-items: center;
                    flex-basis: 85%;
                    padding: 8px;
                }
                .icon-holder {
                    flex-basis: 15%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .column-handle {}
            }
        }
        .right {
            max-height: 70vh;
            overflow-y: scroll;
            flex-basis: 40%;
            .column-section {
                // display: flex;
                &.active {
                    .column-label {
                        background: #b3e5fc;
                    }
                }
                .column-label {
                    cursor: pointer;
                    align-items: center;
                    border: 1px solid whitesmoke;
                    height: 40px;
                    background: white;
                    display: flex;
                    justify-content: space-between;
                    .item-label {
                        flex-basis: 90%;
                        height: 40px;
                        padding: 10px 15px;
                        &:hover {
                            background: whitesmoke;
                        }
                    }
                    .column-toggle {
                        height: 40px;
                        flex-basis: 15%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .column-handle {}
            }
        }
        .controls {
            display: flex;
            flex-direction: column;
            button {
                margin: 4px;
            }
        }
    }
}