.table-settings {
    .modal-body {
        // background: yellow;
        display: flex;
        justify-content: space-between;
        .left {
            flex-basis: 30%;
        }
        .right {
            max-height: 70vh;
            overflow-y: scroll;
            flex-basis: 30%;
            .column-section {
                // display: flex;
                &.active {
                    .column-label {
                        background: #b3e5fc;
                    }
                }
                .column-label {
                    cursor: pointer;
                    align-items: center;
                    border: 1px solid whitesmoke;
                    height: 40px;
                    background: white;
                    display: flex;
                    justify-content: space-between;
                    .item-label {
                        flex-basis: 90%;
                        height: 40px;
                        padding: 10px 15px;
                        &:hover{
                            background: whitesmoke;
                        }
                    }
                    .column-toggle {
                        height: 40px;
                        flex-basis: 15%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .column-handle {}
            }
        }
        .controls {
            display: flex;
            flex-direction: column;
            button {
                margin: 4px;
            }
        }
    }
}