@import 'Assets/Global-Shared/theme.scss';
.generic-listing-container {
    // font-size: 12px;
    // padding: 15px;
    .header {
        font-size: 16px;
        padding: 6px 20px;
    }
    .page-bar {
        height: 45px;
        display: flex;
        justify-content: space-between; // width: 95%;
        padding: 4px 8px;
        border-bottom: 1px solid;
        @include themify($themes) {
            background: themed('subHeader');
            border-color: themed('subHeaderBorder');
        }
        .search-bar {
            display: flex;
        }
        .table-settings {
            margin: 0px;
        }
        .search-wrapper {}
        .header-actions {
            display: flex;
            align-items: center;
            .btn {
                margin: 0px 4px;
            }
            .btn-group {
                margin: 0px 2px;
            }
        }
        .pre-defined-filter {
            margin-left: 1100px;
        }
        .generic-listing-search {
            width: 225px;
        }
    }
    .card {
        // width: 95%;
        margin: 8px;
        .card-body {
            overflow-x: scroll;
            padding: 0px; // Table Begins
        }
    }
}